<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Learning Vuln</title>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="../css/styles.css"/>
        <link rel="stylesheet" href="../css/my-sheet.css">

        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"
        />

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="home.php">Learning Vuln</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    メニュー
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.php">注意事項</a></li>
                        <li class="nav-item"><a class="nav-link" href="intro.php">はじめに</a></li>
                        <li class="nav-item"><a class="nav-link" href="learnmenu.php">学習パート</a></li>
                        <li class="nav-item"><a class="nav-link" href="hackpage_intro.php">CTFパート</a></li>
                        <li class="nav-item"><a class="nav-link" href="summary.php">まとめ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead ">
            <div class="container">
                <h1>学習パート</h1>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section">
            <div class="container">
                <div class="text-center">
                    <div class="col-md-8 mx-auto">
                        <h2 class="section-heading text-bg-info mb-4">　</h2>
                    </div>
                </div>
                <div class="row text-center justify-content-center">
                    <div class="col-md-8">
                        <div class="text-center">
                            <h3>脆弱性の種類</h3>
                            <br>
                            <h4>SQLインジェクション</h4>
                            <p class="text-start">
                                　データベースと連携したWebアプリケーションの多くは、利用者からの入力情報を基にSQL文（データベースへの命令文）を組み立てています。ここでSQL文の組み立て方法に問題がある場合、攻撃によってデータベースの不正利用をまねく可能性があります。このような問題を「SQLインジェクションの脆弱性」と呼び、問題を悪用した攻撃を、「SQLインジェクション攻撃」と呼びます。<br>
                            </p>
                            <div class="text-center">
                                <a href="sqlin_intro.php" class="btn btn-outline-info btn-xl mb-3" style="width: 400px;">SQLインジェクションを学ぶ</a>
                            </div>
                            <br>
                            <h4>クロスサイトスクリプティング</h4>
                            <p class="text-start">
                                　Webアプリケーションでユーザーが入力した内容をそのまま表示する場合、攻撃者がJavaScriptなどのコードを含む入力を行うことで、他のユーザーのブラウザ上で任意のコードを実行させることができます。このような問題を「クロスサイトスクリプティングの脆弱性」と呼び、問題を悪用した攻撃を「クロスサイトスクリプティング攻撃」と呼びます。<br>
                            </p>
                            <div class="text-center">
                                <a href="xss_intro.php" class="btn btn-outline-info btn-xl mb-3" style="width: 400px;">クロスサイトスクリプティングを学ぶ</a>
                            </div>
                            <br>
                            <h4>ディレクトリトラバーサル</h4>
                            <p class="text-start">
                                　Webアプリケーションの中には、外部からの入力値にWebサーバ内のファイル名を直接指定しているものがあります。このようなWebアプリケーションでは、ファイル名指定の実装に問題がある場合、攻撃者に任意のファイルを指定され、Webアプリケーションが意図しない処理を行ってしまう可能性があります。このような問題の一種を「ディレクトリ・トラバーサルの脆弱性」と呼び、この問題を悪用した攻撃手法の一つに、「ディレクトリ・トラバーサル攻撃」があります。<br>
                            </p>
                            <div class="text-center">
                                <a href="dirtra_intro.php" class="btn btn-outline-info btn-xl mb-3" style="width: 400px;">ディレクトリトラバーサルを学ぶ</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <br>
                        <a href="home.php" class="btn btn-outline-primary btn-xl mb-3" style="width: 300px;">← ホームメニューに戻る</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-lg-center">Copyright &copy; 2025 KakidaToranosuke</div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
    </body>
</html>
